@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Styling for all devices */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex: 1;
}

aside {
    background-color: #ecf0f1;
    padding: 1em;
    width: 250px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile {
    text-align: start;
}

#profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

#links {
    margin-top: 2em;
}

#links h3 {
    margin-bottom: 0.5em;
    color: #2c3e50;
}

#links ul {
    list-style: none;
    padding: 0;
    text-align: start;
}

#links ul li {
    margin: 0.5em 0;
}

#links ul li a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

#links ul li a:hover {
    color: #2c3e50;
}

main {
    flex: 1;
    padding: 2em;
}

#time-and-date {
    text-align: right;
    margin-bottom: 1em;
}

#goals h1 {
    color: #2c3e50;
}

/* Styles for tablets (max width 800px) */
@media (max-width: 800px) {
    #container {
        flex-direction: column;
    }

    aside {
        width: 100%;
        text-align: center;
        padding: 1em 0;
    }

    #links ul {
        text-align: center;
    }

    #links {
        margin-top: 1em;
    }

    #profile {
        text-align: center;
    }

    main {
        padding: 1em;
    }
}

/* Styles for mobile phones (max width 500px) */
@media (max-width: 500px) {
    body {
        font-size: 0.8em;
    }
    

    #profile img {
        width: 100px;
        height: 100px;
    }
    #links ul li {
        margin: 0.3em 0;
    }
}